@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Inter:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
  }
  
  header {
    background-color: #c1121f;
    height: 110px;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  
  header nav ul a img {
    padding: 0px 10px 20px 0px;
    margin-top: -5px;
  }
  
  #logo,
  header nav {
    height: 110px;
  }
  
  header img {
    float: left;
    padding-left: 110px;
  }
  
  header nav ul {
    float: right;
    margin-top: -10px;
    padding: 58px 0px 100px 0px;
  }
  
  header nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    padding-right: 100px;
  }
  header nav ul:hover{
    padding-top: 50px;
  }
  /*responsioive navbar*/
  @media(min-width: 1190px){
    .navigation .title-side{
      display: none;
    }
  }
  @media(max-width: 1280px){
    #logo{
      padding-left: 40px;
    }
  }
  @media (max-width: 1190px){
    nav ul a{
      display: none;
    }
  }
  
  .container {
    padding-top: 110px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
  }
  
  .back-img {
    display: flex;
    background-image: url("assets/Background_Register.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.00005 black;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: white;
    border: 2px solid rgba(172, 172, 172, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(158, 155, 155, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
  }

  .wrapper.active {
    height: 670px;
  }

  .wrapper .form-box {
    width: 80%;
    padding: 40px;
    justify-content: center;
  }

  .wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
  }

  .wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
    }

  .wrapper .form-box.register {
    position: absolute;
    height: 610px;
    transition: none;
    transform: translateX(400px);
  }

  .wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
  }

  .form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
  }

  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .input-box label {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
  }

  .input-box input:focus~label,
  .input-box input:valid~label {
    top: -5px;
  }

  .input-box input {
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding:  0 35px 0 5 px;
  }

  .input-box .icon {
    position: absolute;
    left: 5px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
    justify-content: center;
  }

  .remember-forgot {
    font-size: 0.9em;
    color: #162938;
    margin: 10px 0 15px;
    display: flex;
    justify-content: space-between;
  }

  .remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
  }

  .remember-forgot {
    color: #162938;
    text-decoration: none;
  }

  .remember-forgot a {
    color: #4169e1;
  }

  .remember-forgot a:hover {
    text-decoration: underline;
  }

  .btn {
    width: 30%;
    height: 40px;
    background: #c1121f;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
  }

  .login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
  }

  .login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
  }

  .login-register p a:hover {
    text-decoration: underline black;
  }

  .break {
    height: 80px;
  }

 .about {
  background-color: #c1121f;
  padding: 50px 80px;
}

.about h3 {
  font-weight: bolder;
  margin-top: 20px;
}

.footer-alamat {
  display: flex;
  flex-direction: row;
  gap: 30px;
  color: white;
}

.kantorPusat {
  width: 50%;
}

.tentangJTE,
.services {
  width: 20%;
}

.sosmed ul{
  float: right;
  justify-content: space-between;
  margin: -15px 10px 0;
}

.sosmed ul a{
  display: grid;
  width: 40px;
  height: 40px;
  background-color: white;
  color: #c1121f;
  border-radius: 50%;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
  }

.sosmed a:hover{
  color: #000;
}

.footer {
  display: flex;
  margin: 0px 50px;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  color: #c1121f;
}

/*SideBar*/
.navigation{
  position: fixed;
  top: 115px;
  right: -80px;
  bottom: 0;
  background: #c1121f;
  width: 80px;
  border-left: 15px solid #c1121f;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 15px 15px 25px rgba(0,0,0,0.05);
  transition: 0.5s;
  z-index: 9999;
}
.navigation ul li a span{
  z-index: 9999;
}
.navigation.active{
  width: 300px;
  border-radius: 20px;
}
.toggle{
  position: fixed;
  top: 30px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle::before{
  content: '';
  position: absolute;
  width: 26px;
  height: 3px;
  border-radius: 3px;
  background: #365fa1;
  transform: translateY(-5px);
  transition: 1s;
}
.toggle::after{
  content: '';
  position: absolute;
  width: 26px;
  height: 3px;
  border-radius: 3px;
  background: #365fa1;
  transform: translateY(5px);
  transition: 1s;
  }
.navigation.active .toggle::before{
  transform: translateY(0px) rotate(-405deg);
}
.navigation.active .toggle::after{
  transform: translateY(0px) rotate(225deg);
}
.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 30px ;
  border-bottom-left-radius: 30px ;
}
.navigation ul li:hover{
  background: red;
  border-color: white;
}
.navigation ul li:nth-child(5){
  left: 35px;
  top: 20px;
  font-weight: bold;
  margin-bottom: 56px;
  background: none;
  color: white;
}
.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}
/* .navigation ul li:hover:not(li:nth-child(5)){
  color: white;
} */

.navigation ul li a .icon{
  position: relative;
  display: block;
  min-height: 10px;
  height: 10px;
  line-height: 20px;
  text-align: center;
}
.navigation ul li a .icon .fa-solid{
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}